{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tubiflix-home
{% endblock title %}


{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}
    

{% block content %}

    {% include "partials/navbar.html" %}
    <div class="min-h-screen bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'tubi_home.png' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center">
                Unlimited movies, TV shows, and more.
            </h1>
            <h3 class="text-xl md:text-xl py-5">
                Watch anywhere, anytime.
            </h3>
            <h4 class="text-sm md:text-lg pb-3">
                Ready to watch? Enter your email to get started.
            </h4>

            <div class="w-full flex justify-center">
                <div class="flex justify-center items-center w-11/12 md:w-10/12">
                    <input type="email" name="" id="" placeholder="Email address" class="md:py-5 py-4 px-2 placeholder-gray-500 rounded-tl-sm rounded-bl-sm outline-none  text-gray-900 bg-gray-50 block w-8/12 md:w-3/4">
                    <a href='{% url "account_signup" %}' class='md:w-1/4'>
                    
                        <button class="bg-primary_red font-medium md:font-normal flex justify-center items-center py-4 px-2 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl">
                            <span>
                                Get Started
                            </span>
                            <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    

    
    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">
            
            <li>&copy; 2021</li>
            <li> Made with Django</li>
            <li>By Team TubiFlix</li>
        </ul>
    </footer>


{% endblock content %}
